.h-category-top-banner{
    background: #c4b599;
    background: linear-gradient(0deg, rgba(196, 181, 153, 0.25) 0%, rgba(225, 217, 203, 0.62) 20%, rgb(255, 255, 255) 100%);
}
.accordItem {
    color: $black;
    width: 100%;
    @media (min-width:768px) {
        width: 200px;
        &.filterOpen summary{
            &::after{
                position: absolute;
                content: " ";
                left: 0px;
                right: 0px;
                height: 1px;
                bottom:  -1px;
                z-index: 1000;
                background-color: #fff;
                min-height: 0;
            }
        }
        &.price .filterContent{
            border-bottom: 1px solid $black;
        }
    }    
}
.catImgWrapper{
    max-width: 320px;
    img{
        width: 100%;
    }
    @media (min-width:992px) {
        
    }
}
.filterContent{   
    background-color: #fff;
    z-index: 999;    
    font-size: 12px;
    color: $black;    
   
    @media (min-width:768px) {
        position: absolute;
        left: -1px;
        right: -1px;
        top: 40px;
        min-width: calc(100% + 2px);
        border: none;   
        border-left: 1px solid $black;
        border-right: 1px solid $black;
        border-top: 1px solid $black;
        label{
            padding-left: .5rem !important;
            padding-right: .5rem !important;
            transition: all .3s;
            background-color: rgba(0, 0, 0, 0);       
            &:last-child{
                border-bottom:1px solid $black;
            }
        }
    }
}
.catHeaderBg{
    background-image: url("https://cdn02.plentymarkets.com/4tnz2nlw17zy/frontend/Redesign/CategoryTopBannerWidgetBg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.categoryDescWrapper{
    color: $black;
    p{
        font-size: 12px;
        color: #707070;
        line-height: 1.4;
        @media (min-width: 768px) {
            text-align: left !important;
            font-size: 14px;        
        }
        @media (min-width: 992px) {
            font-size: 16px;        
        }
        @media (min-width: 1400px) {
            font-size: 18px;      
        }

    }
    h1{
        font-size: 22px;
        margin-bottom: 0;
        @media (min-width: 768px) {
            font-size: 26px;
            margin-bottom: 12px;       
        }
        @media (min-width: 992px) {
            font-size: 32px;        
        }
        @media (min-width: 1200px) {
            font-size: 38px;      
        }
    }
    .subHeadingWrapper{        
        @media (min-width: 768px){
            padding-left: 15px;
        }
        @media (min-width: 992px){
            padding-left: 25px;
        }
        h2{
            font-size: 16px;
            position: relative;
            color: $brand-primary;
            font-weight: 300;
            margin-bottom: 15px;
            @media (min-width: 768px) {
                padding-left: 35px;
                font-size: 20px;    
            }
            @media (min-width: 992px) {
                padding-left: 50px;
                font-size: 26px;
            }
            @media (min-width: 1200px) {
                padding-left: 75px;
                font-size: 32px;
                margin-bottom: 48px;
            }
        }
    }
    .catBannerDesc{
        margin-bottom: 1rem;
        p{
            margin-bottom: 1rem;
        }
        @media (min-width: 992px) {
            padding-left: 25px;
        }
    }
    .catDescLink{
        @media (min-width: 992px) {
            padding-left: 25px;
        }
    }
    .subHeadingLine::before{
        position: absolute;
        content: " ";
        width: 20px;
        height: 2px;
        background-color: #dabc71;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
        @media (min-width: 992px) {
            width: 40px;
        }
        @media (min-width: 1200px) {
            width: 55px;
        }
    }
}
.categoryDescWrapper{
    @media (min-width: 768px){
        padding-left: 25px;
    }
    @media (min-width: 992px){
        padding-right: 50px;
    }
    @media (min-width: 1200px){
        padding-left: 80px;
    }
    @media (min-width: 1400px){
        padding-right: 0px;
    }
}
.catDescLink{
    @media (min-width: 1200px){
        font-size: 18px;
    }
    @media (min-width: 1400px){
        font-size: 20px;
    }
}
.filterWrapper{
    z-index: 101;
    left: 0;
    right: 0;
    top: 66px;
    padding: 6px;
    background: $brand-primary;
    box-shadow: 1px 4px 10px 0px rgba(33,33,33,.3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    @media (min-width: 768px){
        top:80px;
    }
    .filterOpenerText{
        color: #fff;
        @media (min-width: 1200px){
            font-size: 20px;
        }
        @media (min-width: 1400px){
            font-size: 22px;
        }
    }
    .openFilter, 
    .scrollFilter{
        min-height: 0;
        height: 34px;
        color: $brand-primary;
        background-color: $white;
        border-color: $white;
        padding: 0 45px;
        font-size: 16px;
        width: auto !important;
        border-radius: 14px;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        gap: 5px;
        @media (min-width: 1200px){
            font-size: 20px;
            height: 36px;
            line-height: 36px;
        }
        @media (min-width: 1400px){
            height: 40px;
            line-height: 40px;
            border-radius: 16px;
        }
        img{
            max-height: 20px;
        }        
    }
}
.categorySnippet{
    .snippetContent{
        > section > div > button{
            display: none;
        }
    }
}
.category-description{
    color: $black;
    h2 {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        margin-top: 2rem !important;
        margin-bottom: 1rem;
        font-size: 1.3125rem;
        font-weight: 700;
    }
    h3, .h3 {
        font-size: 1.167rem;
        margin-bottom: 1rem;
        font-weight: 700;
    }
    p{
        margin-bottom: 1rem;
    }
}
.catProduct{
    flex-direction: row;
    padding-bottom: .5rem;
    position: relative;
    border-bottom: 1px solid $brand-primary;
    .catImageWrapper{
        flex: 8;
    }
    .categoryContentWrapper{
        flex: 6;
        transition: all .6s;
        .catContentTopSide{
            text-align: right;
            height: 45px;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            .prices{
                align-items: flex-end;
                justify-content: flex-end;
                flex-flow: wrap;
                flex-direction: column;
            }
        }
        .catContentBotSide {
            text-align: right;
            height: calc(100% - 45px);
            .bottomWrapper{
                height: 100%;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                flex-wrap: wrap;
                .sizeCont{
                    .sizesHeading{
                        color: #707070;
                        font-size: 12px;
                        font-weight: 300;
                    }
                    .availableSizes{
                        display: flex;
                        gap: 5px;
                        .availableSize{
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            border: 1px solid #707070;
                            color: #d1ac4e;
                            font-size: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                .hv-category-item-properties{
                    display: flex;
                    justify-content: flex-end;
                    gap: 3px;
                    flex-wrap: wrap;
                    margin-top: 5px;
                    .propertyWrapper{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        font-size: 14px;
                        position: relative;
                    }
                    .valueBox, 
                    .property71, 
                    .property86{
                        display: none;
                    }
                    .iconImg{
                        max-width: 25px;
                        @media (min-width:992px) {
                            max-width: 30px;
                        }
                    }
                    
                }
            }
        }
    }    
}
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}
@media (min-width:768px) {
    .catProduct{
        border-bottom:none;
        .prices {
            height: 28px;
            position: relative;
        }
        .categoryContentWrapper .catContentTopSide {
            height: 35px;
            padding-bottom: 5px;
        }
        .crossPrice{
            line-height: 1 !important;
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            top: 50%;
            font-size: 24px;
            transition: all .5s;
            opacity: 0;
            visibility: hidden;
        }
        .catPrice{
            line-height: 1 !important;
            position: absolute;
            right: 50%;
            transform: translateX(50%) translateY(-50%);
            top: 50%;
            font-size: 24px;
            display: flex;
            align-items: center;
            transition: all .7s;
        }
        .catContentMid{
            background-color: #dabc71;
            height: 1px;
            transition: height .6s;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 24px;
            font-size: 14px;
            white-space: nowrap;
            a {
                color: rgba(0, 0, 0, 0);
                font-size: 0;
            }
        }
        margin-bottom: 30px;
        transition: all .6s;
        &:hover{
            margin-bottom: 0px;
            .crossPrice{
                opacity: 1;
                visibility: visible;
                left: 0%;
                transform: translateX(0) translateY(-50%);
            }
            .catPrice{
                right: 0;
                transform: translateX(0) translateY(-50%);
            }
            .catContentMid {
                height: 24px;
                a{
                    color: #fff;
                    font-size: 12px;
                }
            }
        }
        .valueBox, .property71, .property86 {
            display: flex !important;
        }
        .valueBox{
            display: flex !important;
            flex-direction: column;
            line-height: 1;
            font-size: 10px;
            width: 0;
            position: relative;
            height: 20px;
            overflow: hidden;    
            margin-left: 2px;    
            transition: all .6s;    
            .valueName,
            .value{
                word-break: break-word;
                overflow: hidden;     
                position: absolute;
                left: -100%;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 20px;
                transition: all .6s;
            }
        }
        .property71{
            .valueBox .value,
            .valueBox .valueName{
                width: 24px;
            }
        }
        .property39{
            .valueBox .value,
            .valueBox .valueName{
                width: 47px;
            }
        }
        .property86{
            .valueBox .value,
            .valueBox .valueName{
                width: 45px;
            }
        }
        .property36{
            .valueBox .value,
            .valueBox .valueName{
                width: 25px;
            }
        }
        .property41{
            .valueBox .value,
            .valueBox .valueName{
                width: 37px;
            }
        }
        &:hover{
            .property71{
                .valueBox{
                    width: 24px;
                }
            }
            .property39{
                .valueBox{
                    width: 47px;
                }
            }
            .property36{
                .valueBox{
                    width: 25px;
                }
            }
            .property86{
                .valueBox{
                    width: 45px;
                }
            }
            .property41{
                .valueBox{
                    width: 36px;
                }
            }
            .valueBox{   
                .valueName,
                .value{
                    left: 0;
                }
            }
        }
    }    

}
@media (min-width:992px) {
    .catProduct{
        .catContentMid {
            line-height: 30px;

        }
        .crossPrice{
            font-size: 20px;
        }
        .catPrice{
            font-size: 20px;
        }
        &:hover{
            .catContentMid {
                height: 30px;
                a{
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
}
@media (min-width:1200px) {
    .catProduct{
        .crossPrice{
            font-size: 22px;
        }
        .catPrice{
            font-size: 22px;
        }
        .valueBox{
            margin-left: 3px
        }
        &:hover{
            .catContentMid {
                a{
                    color: #fff;
                    font-size: 16px;
                }
            }
        }
    }
}
@media (min-width:1400px) {
    .catProduct{
        .crossPrice{
            font-size: 24px;
        }
        .catPrice{
            font-size: 24px;
        }
        .valueBox{
            font-size: 12px;
            height: 26px;
            .valueName,
            .value{
                height: 26px;
            }
        }
        .property71{
            .valueBox .value,
            .valueBox .valueName{
                width: 30px;
            }
        }
        .property39{
            .valueBox .value,
            .valueBox .valueName{
                width: 60px;
            }
        }
        .property36{
            .valueBox .value,
            .valueBox .valueName{
                width: 30px;
            }
        }
        .property41{
            .valueBox .value,
            .valueBox .valueName{
                width: 43px;
            }
        }
        .property86{
            .valueBox .value,
            .valueBox .valueName{
                width: 58px;
            }
        }
        &:hover{  
            .property86{
                .valueBox{
                    width: 58px;
                }
            }
            .property71{
                .valueBox{
                    width: 30px;
                }
            }
            .property39{
                .valueBox{
                    width: 60px;
                }
            }
            .property36{
                .valueBox{
                    width: 30px;
                }
            }
            .property41{
                .valueBox{
                    width: 43px;
                }
            }
        }
    }
}
@media (min-width:1600px) {
    .catProduct{
        .crossPrice{
            font-size: 26px;
        }
        .catPrice{
            font-size: 26px;
        }
    }
}
@media (min-width:1800px) {
    .catProduct{
        .valueBox {
            font-size: 14px;
            height: 30px;
        }
        .valueBox .valueName, 
        .valueBox .value {
            height: 30px;
        }
        .property39 .valueBox .value, 
        .property39 .valueBox .valueName {
            width: 66px;
        }
        .property36 .valueBox .value, 
        .property36 .valueBox .valueName {
            width: 36px;
        }
        .property41 .valueBox .value, 
        .property41 .valueBox .valueName {
            width: 50px;
        }
        &:hover{
            .property39 .valueBox{
                width: 66px;
            }
            .property36 .valueBox {
                width: 36px;
            }
            .property41 .valueBox {
                width: 50px;
            }
        }        
    }
}