.h-category-top-banner{
    background: #c4b599;
    background: linear-gradient(0deg, rgba(196, 181, 153, 0.25) 0%, rgba(225, 217, 203, 0.62) 20%, rgb(255, 255, 255) 100%);
}
.accordItem {
    color: $black;
    width: 100%;
    @media (min-width:768px) {
        width: 200px;
        &.filterOpen summary{
            &::after{
                position: absolute;
                content: " ";
                left: 0px;
                right: 0px;
                height: 1px;
                bottom:  -1px;
                z-index: 1000;
                background-color: #fff;
                min-height: 0;
            }
        }
        &.price .filterContent{
            border-bottom: 1px solid $black;
        }
    }    
}
.catImgWrapper{
    max-width: 320px;
    img{
        width: 100%;
    }
    @media (min-width:992px) {
        
    }
}
.filterContent{   
    background-color: #fff;
    z-index: 999;    
    font-size: 12px;
    color: $black;    
   
    @media (min-width:768px) {
        position: absolute;
        left: -1px;
        right: -1px;
        top: 40px;
        min-width: calc(100% + 2px);
        border: none;   
        border-left: 1px solid $black;
        border-right: 1px solid $black;
        border-top: 1px solid $black;
        label{
            padding-left: .5rem !important;
            padding-right: .5rem !important;
            transition: all .3s;
            background-color: rgba(0, 0, 0, 0);       
            &:last-child{
                border-bottom:1px solid $black;
            }
        }
    }
}
.catHeaderBg{
    background-image: url("https://cdn02.plentymarkets.com/4tnz2nlw17zy/frontend/Redesign/CategoryTopBannerWidgetBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 360px;
}
.categoryDescWrapper{
    color: $black;
    p{
        font-size: 12px;
        color: #707070;
        line-height: 1.4;
        @media (min-width: 768px) {
            text-align: left !important;
            font-size: 14px;        
        }
        @media (min-width: 992px) {
            font-size: 16px;        
        }
        @media (min-width: 1400px) {
            font-size: 18px;      
        }

    }
    h1{
        font-size: 22px;
        margin-bottom: 0;
        @media (min-width: 768px) {
            font-size: 26px;
            margin-bottom: 10px;       
        }
        @media (min-width: 992px) {
            font-size: 32px;        
        }
        @media (min-width: 1200px) {
            font-size: 38px;      
        }
    }
    .subHeadingWrapper{        
        @media (min-width: 768px){
            padding-left: 15px;
        }
        @media (min-width: 992px){
            padding-left: 25px;
        }
        h2{
            font-size: 16px;
            position: relative;
            color: $brand-primary;
            font-weight: 300;
            margin-bottom: 15px;
            @media (min-width: 768px) {
                padding-left: 35px;
                font-size: 20px;    
            }
            @media (min-width: 992px) {
                padding-left: 50px;
                font-size: 26px;
            }
            @media (min-width: 1200px) {
                padding-left: 75px;
                font-size: 32px;
                margin-bottom: 50px;
            }
        }
    }
    .catBannerDesc{
        margin-bottom: 15px;
        p{
            margin-bottom: 15px;
        }
        @media (min-width: 992px) {
            padding-left: 25px;
        }
    }
    .catDescLink{
        @media (min-width: 992px) {
            padding-left: 25px;
        }
    }
    .subHeadingLine::before{
        position: absolute;
        content: " ";
        width: 20px;
        height: 2px;
        background-color: #dabc71;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
        @media (min-width: 992px) {
            width: 40px;
        }
        @media (min-width: 1200px) {
            width: 55px;
        }
    }
}
.categoryDescWrapper{
    @media (min-width: 768px){
        padding-left: 25px;
    }
    @media (min-width: 992px){
        padding-right: 50px;
    }
    @media (min-width: 1200px){
        padding-left: 80px;
    }
    @media (min-width: 1400px){
        padding-right: 0px;
    }
}
.catDescLink{
    @media (min-width: 1200px){
        font-size: 18px;
    }
    @media (min-width: 1400px){
        font-size: 20px;
    }
}
.filterWrapper{
    z-index: 101;
    left: 0;
    right: 0;
    top: 66px;
    padding: 6px;
    background: $brand-primary;
    box-shadow: 1px 4px 10px 0px rgba(33,33,33,.3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    @media (min-width: 768px){
        top:80px;
    }
    .filterOpenerText{
        color: #fff;
        @media (min-width: 1200px){
            font-size: 20px;
        }
        @media (min-width: 1400px){
            font-size: 22px;
        }
    }
    .openFilter, 
    .scrollFilter{
        min-height: 0;
        height: 34px;
        color: $brand-primary;
        background-color: $white;
        border-color: $white;
        padding: 0 45px;
        font-size: 16px;
        width: auto !important;
        border-radius: 14px;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        gap: 5px;
        @media (min-width: 1200px){
            font-size: 20px;
            height: 36px;
            line-height: 36px;
        }
        @media (min-width: 1400px){
            height: 40px;
            line-height: 40px;
            border-radius: 16px;
        }
        img{
            max-height: 20px;
        }        
    }
}
.categorySnippet{
    .snippetContent{
        > section > div > button{
            display: none;
        }
    }
}
.category-description{
    color: $black;
    h2 {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        margin-top: 2rem !important;
        margin-bottom: 15px;
        font-size: 1.3125rem;
        font-weight: 700;
    }
    h3, .h3 {
        font-size: 1.167rem;
        margin-bottom: 15px;
        font-weight: 700;
    }
    p{
        margin-bottom: 15px;
    }
}
.catProduct{
    flex-direction: row;
    padding-bottom: .5rem;
    position: relative;
    border-bottom: 1px solid $brand-primary;
    .catImageWrapper{
        flex: 8;
        .desktopMagnifyVals{
            position: absolute;
            z-index: 9;
            left: 5px;
            top:45px;
            @media (min-width:1200px) {
                top:85px;
            }
        }
        .availableSizes{
            display: flex;
            gap: 10px;
            flex-direction: column;
            .availableSize{
                width: 35px;
                height: 35px;
                line-height: 35px;
                border-radius: 50%;
                border: 1px solid #707070;
                color: #d1ac4e;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $white;
                
            }
        }
    }
    .categoryContentWrapper{
        flex: 6;
        transition: all .6s;
        .catContentTopSide{
            text-align: right;
            height: 45px;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            .prices{
                align-items: flex-end;
                justify-content: flex-end;
                flex-flow: wrap;
                flex-direction: column;
            }
        }
        .catContentBotSide {
            text-align: right;
            height: calc(100% - 45px);
            .bottomWrapper{
                height: 100%;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                flex-wrap: wrap;
                .sizeCont{
                    .sizesHeading{
                        color: #707070;
                        font-size: 12px;
                        font-weight: 300;
                    }
                    .availableSizes{
                        display: flex;
                        gap: 5px;
                        .availableSize{
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            border: 1px solid #707070;
                            color: #d1ac4e;
                            font-size: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                .hv-category-item-properties{
                    display: flex;
                    justify-content: flex-end;
                    gap: 3px;
                    flex-wrap: wrap;
                    margin-top: 5px;
                    @media (min-width:768px) {
                        margin-top: 0;
                    }
                    @media (min-width:992px) {
                        gap: 5px;
                    }
                    .propertyWrapper{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        font-size: 14px;
                        position: relative;
                        min-width: 50px;
                        @media (min-width:768px) {
                            flex-direction: column;
                            align-items: center;
                        }
                        @media (min-width:992px) {
                            min-width: 35px;
                        }
                        @media (min-width:1200px) {
                            min-width: 50px;
                        }
                    }
                    .valueBox, 
                    .property71, 
                    .property86{
                        display: none;
                    }
                    .iconImg{
                        max-width: 25px;
                        @media (min-width:768px) {
                            max-width: 35px;
                        }
                        @media (min-width:992px) {
                            max-width: 30px;
                        }
                        @media (min-width:1200px) {
                            max-width: 35px;
                        }
                        @media (min-width:1200px) {
                            max-width: 40px;
                            width: 40px;
                        }
                    }
                    
                }
            }
        }
    }    
}
.catMainContent{
    display: flex;
    flex-direction: column-reverse;
    @media (min-width:768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 10px;
        .catPrice{
            position: static;
            transform: none;
        }
    }
}
.percentSavings{
    position: absolute;
    z-index: 9;
    left: 0px;
    top: 5px;
    z-index: 10;
    background-color: $brand-primary;
    padding: 2px 4px;
    color: $white;
    border-radius: 4px;
    @media (min-width:1200px) {
        top: 30px;
    }   
}
.catProduct{
    .thumbImageWrapper{
        position: relative;
        z-index: 12;
        .previewImg{           
            opacity: 0;
            pointer-events: none;
            transition: all 0.6s;
            padding: 2px;
            border: 1px solid $brand-secondary;
            &:hover{
                border: 1px solid $brand-primary;
            }
            img{
                max-height: 44px;
                aspect-ratio: unset;
                width: auto;
                max-width: 100%;
                margin: 0 auto;
            }     
        }
    }
    .catImgFS{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: none;
        background-color: $white;
    }
    &:hover{
        .thumbImageWrapper{
            .previewImg{
                opacity: 1;
                pointer-events: initial;
            }
        }        
    }
    &.showPreview0:hover{
        .catImg0{
            display: block;
        }
    }
    &.showPreview1:hover{
        .catImg1{
            display: block;
        }
    }
    &.showPreview2:hover{
        .catImg2{
            display: block;
        }
    }
    &.showPreview3:hover{
        .catImg3{
            display: block;
        }
    }
    &.showPreview4:hover{
        .catImg4{
            display: block;
        }
    }
    &.showPreview5:hover{
        .catImg5{
            display: block;
        }
    }

}
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}
@media (min-width:768px) {
    .catProduct{
        border-bottom:none;
        .prices {
            //height: 28px;
            position: relative;
            gap: 0 !important;
            flex-direction: column !important;
        }
        .categoryContentWrapper .catContentTopSide {
            justify-content: center;
        }
        .crossPrice{
            line-height: 1 !important;            
            font-size: 20px;  
        }
        .catPrice{
            line-height: 1 !important;           
            font-size: 20px;
            display: flex;
            align-items: center;            
        }
        .catContentMid{
            background-color: #dabc71;
            height: 1px;
            transition: height .6s;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 24px;
            font-size: 14px;
            white-space: nowrap;
            a {
                color: rgba(0, 0, 0, 0);
                font-size: 0;
            }
        }
        margin-bottom: 30px;
        transition: all .6s;
        &:hover{
            margin-bottom: 0px;            
            .catContentMid {
                height: 24px;
                a{
                    color: #fff;
                    font-size: 12px;
                }
            }
        }
        .valueBox, .property71, .property86 {
            display: flex !important;
        }
        .valueBox{
            display: flex !important;
            flex-direction: column;
            line-height: 1;
            font-size: 10px;
            width: 0;
            position: relative;
            height: 13px;
            overflow: hidden;    
            margin-left: 0;    
            transition: all .6s;    
            .valueName,
            .value{
                word-break: break-word;
                overflow: hidden;     
                position: absolute;
                text-align: center;
                left: -100%;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 13px;
                transition: all .6s;
                margin: 0;

            }
        }
        .property71{
            .valueBox .value,
            .valueBox .valueName{
                width: 40px;
            }
        }
        .property39{
            .valueBox .value,
            .valueBox .valueName{
                width: 85px;
            }
        }
        .property86{
            .valueBox .value,
            .valueBox .valueName{
                width: 62px;
            }
        }
        .property36{
            .valueBox .value,
            .valueBox .valueName{
                width: 50px;
            }
        }
        .property41{
            .valueBox .value,
            .valueBox .valueName{
                width: 57px;
            }
        }
        &:hover{
            .property71{
                .valueBox{
                    width: 40px;
                }
            }
            .property39{
                .valueBox{
                    width: 85px;
                }
            }
            .property36{
                .valueBox{
                    width: 50px;
                }
            }
            .property86{
                .valueBox{
                    width: 62px;
                }
            }
            .property41{
                .valueBox{
                    width: 57px;
                }
            }
            .valueBox{   
                .valueName,
                .value{
                    left: 0;
                }
            }
        }
    }    

}
@media (min-width:992px) {
    .catProduct{
        .catContentMid {
            line-height: 30px;

        }
        .crossPrice{
            font-size: 18px;
        }
        .catPrice{
            font-size: 18px;
        }
        &:hover{
            .catContentMid {
                height: 30px;
                a{
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
}
@media (min-width:1200px) {
    .catProduct{
        .crossPrice{
            font-size: 20px;
        }
        .catPrice{
            font-size: 20px;
        }
        .valueBox{
            //font-size: 12px;
            //height: 15px;
        }
        &:hover{
            .catContentMid {
                a{
                    color: #fff;
                    font-size: 16px;
                }
            }
        }
    }
}
@media (min-width:1400px) {
    .catProduct{
        .crossPrice{
            font-size: 22px;
        }
        .catPrice{
            font-size: 22px;
        }
        .valueBox{
            font-size: 12px;
            height: 16px;
            margin-top: 5px;
            .valueName,
            .value{
                height: 16px;
            }
        }
        .property71{
            .valueBox .value,
            .valueBox .valueName{
                width: 48px;
            }
        }
        .property39{
            .valueBox .value,
            .valueBox .valueName{
                width: 100px;
            }
        }
        .property36{
            .valueBox .value,
            .valueBox .valueName{
                width: 60px;
            }
        }
        .property41{
            .valueBox .value,
            .valueBox .valueName{
                width: 70px;
            }
        }
        .property86{
            .valueBox .value,
            .valueBox .valueName{
                width: 75px;
            }
        }
        &:hover{  
            .property86{
                .valueBox{
                    width: 75px;
                }
            }
            .property71{
                .valueBox{
                    width: 48px;
                }
            }
            .property39{
                .valueBox{
                    width: 100px;
                }
            }
            .property36{
                .valueBox{
                    width: 60px;
                }
            }
            .property41{
                .valueBox{
                    width: 70px;
                }
            }
        }
    }
}
@media (min-width:1600px) {
    .catProduct{
        .crossPrice{
            font-size: 22px;
        }
        .catPrice{
            font-size: 22px;
        }
    }
}

@media (min-width:1800px) {
    .catProduct{
        .valueBox {
            font-size: 14px;
        }
        .property71{
            .valueBox .value,
            .valueBox .valueName{
                width: 58px;
            }
        }
        .property39{
            .valueBox .value,
            .valueBox .valueName{
                width: 118px;
            }
        }
        .property36{
            .valueBox .value,
            .valueBox .valueName{
                width: 75px;
            }
        }
        .property41{
            .valueBox .value,
            .valueBox .valueName{
                width: 80px;
            }
        }
        .property86{
            .valueBox .value,
            .valueBox .valueName{
                width: 90px;
            }
        }
        &:hover{  
            .property86{
                .valueBox{
                    width: 90px;
                }
            }
            .property71{
                .valueBox{
                    width: 58px;
                }
            }
            .property39{
                .valueBox{
                    width: 118px;
                }
            }
            .property36{
                .valueBox{
                    width: 75px;
                }
            }
            .property41{
                .valueBox{
                    width: 80px;
                }
            }
        }
    }
}