.logoImg{
    max-height: 50px;
    @media (min-width:992px) {
        max-height: 40px;
    }
    @media (min-width:1200px) {
        max-height: 50px;
    }
}
.imgRow{
    .imgWrapper{
        width: 30px;
    }
}
.topSearchDropper{
    left: unset !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    border-bottom: none;
}
.topSearchWrapper{
    &:hover{
        .topSearchDropper{
            display: block;
        }
        > button > a,
        > button > a > svg{
            color: $brand-primary;
        }
    }
}
.mobileAllMirrorsDropper{
    > div > a{
        pointer-events: none; 
    }
    .mobileAllMirrorsContent{
        transition: all .5s;
        max-height: 0;
        overflow: hidden;
    }
    &.openMenu{
        .mobileAllMirrorsContent{
            max-height: 600px;
        }
        > div > a{
            pointer-events: unset; 
        }
    }
}
.topControlWrapper{
    @media (min-width:1200px) {
        min-width: 166px;
    }
}
