.logoImg{
    max-height: 50px;
}
.imgRow{
    .imgWrapper{
        width: 30px;
    }
}
.topSearchDropper{
    left: unset !important;
}
.topSearchWrapper{
    &:hover{
        .topSearchDropper{
            display: block;
        }
        > button > a,
        > button > a > svg{
            color: $brand-primary;
        }
    }
}