.logoImg{
    max-height: 50px;
}
.imgRow{
    .imgWrapper{
        width: 30px;
    }
}
.topSearchDropper{
    left: unset !important;
}
.topSearchWrapper{
    &:hover{
        .topSearchDropper{
            display: block;
        }
        > button > a,
        > button > a > svg{
            color: $brand-primary;
        }
    }
}
.mobileAllMirrorsDropper{
    > div > a{
        pointer-events: none; 
    }
    .mobileAllMirrorsContent{
        transition: all .5s;
        max-height: 0;
        overflow: hidden;
    }
    &.openMenu{
        .mobileAllMirrorsContent{
            max-height: 600px;
        }
        > div > a{
            pointer-events: unset; 
        }
    }
}
